<mat-toolbar color="primary" class="toolbar" [class.is-mobile]="isMobile">

  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 class="header-title">
    <ng-content></ng-content>
  </h1>
  <span class="fill-space"></span>

  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>account_box</mat-icon>
    <span>Jason Barnes</span>
  </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>store</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>store</mat-icon>
      <span>Billing</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon><span>Account</span>
    </button>
  </mat-menu>

</mat-toolbar>
